.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span{
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;

    }
}

.player-active{
    background-color: orange !important;
}